# Django
*.pyc
__pycache__/
db.sqlite3
.env

# Entorno virtual y variables de entorno
venv/
.env/
.venv/

# Archivos de configuración de IDE
.idea/
.vscode/

# Archivos estáticos y media
/static/
media/


