# Django
*.pyc
__pycache__/
db.sqlite3
.env

# Entorno virtual y variables de entorno
venv/
.env/
.venv/

# Archivos de configuración de IDE
.idea/
.vscode/

db.sqlite3
*.sqlite3
# Archivos estáticos y media
/static/
media/

# Archivos de conexion con gith
keypair
keypair.pub

