{% extends 'core/base.html' %}
{% load static %}

{% block title %}Artes | Chambalabamba{% endblock %}

{% block content %}
    <!--Inner Header Start-->
    <section class="wf100 p100" style="background: url('{% static "images/artes-header.png" %}') no-repeat center center; background-size: cover;">
        <div class="container">
            <h1 style="color: white;">Artes</h1>
            <h3 style="color: white;">Expresión y Creatividad</h3>        
        </div>
    </section>
    <!--Inner Header End--> 
    <!--Blog Start-->
    <section class="wf100 p80 blog">
    <div class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                <!--Blog Single Content Start-->
                <div class="blog-single-content">
                    <p>En Chambalabamba, el arte es una manifestación del espíritu y una herramienta para la conexión con la naturaleza y la comunidad. Fomentamos la libre expresión a través de diversas disciplinas como la pintura, la escultura, la música y la danza. Nuestros talleres y encuentros artísticos están diseñados para despertar la creatividad innata que todos llevamos dentro, utilizando materiales naturales y técnicas sostenibles.</p>
                    <p>Creemos que el arte es un pilar fundamental para el desarrollo personal y colectivo, un puente que une corazones y mentes en un diálogo constante con nuestro entorno. Invitamos a artistas, creadores y a cualquier persona con el deseo de explorar su lado creativo a unirse a nosotros. Aquí encontrarás un espacio de inspiración, colaboración y crecimiento, donde cada obra es un reflejo de nuestra filosofía de vida en armonía con la Pachamama.</p>
                    
                    <blockquote>
                        <p>El arte nos permite sanar, transformar y celebrar la vida. Es el lenguaje universal que nos conecta con lo más profundo de nuestro ser y con el alma del mundo.</p>
                    </blockquote>
                    
                    <!--Chief Guests of the Event Start-->
                    <div class="chief-guest team-grid wf100">
                        <h4>Facilitadores de Arte</h4>
                        <div class="row">
                            <!--Team Box Start-->
                            <div class="col-md-4">
                            <div class="team-box">
                                <img src="{% static 'images/facilitador_01.jpg' %}" alt="">
                                <div class="team-info">
                                    <h3>Luna Clara</h3>
                                    <p>Pintura y Land Art</p>
                                </div>
                            </div>
                            </div>
                            <!--Team Box Start--> 
                            <!--Team Box Start-->
                            <div class="col-md-4">
                            <div class="team-box">
                                <img src="{% static 'images/facilitador_02.jpg' %}" alt="">
                                <div class="team-info">
                                    <h3>Río Sonoro</h3>
                                    <p>Música y Canto</p>
                                </div>
                            </div>
                            </div>
                            <!--Team Box Start--> 
                            <!--Team Box Start-->
                            <div class="col-md-4">
                            <div class="team-box">
                                <img src="{% static 'images/facilitador_03.jpg' %}" alt="">
                                <div class="team-info">
                                    <h3>Danza del Viento</h3>
                                    <p>Danza y Expresión Corporal</p>
                                </div>
                            </div>
                            </div>
                            <!--Team Box Start--> 
                        </div>
                    </div>
                    <!--Chief Guests of the Event End--> 

                    <!--Event Gallery Start-->
                    <div class="event-gallery gallery wf100">
                        <h4>Galería de Creaciones</h4>
                        <ul>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'images/arte_01.png' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'images/arte_01.png' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'images/arte_02.png' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'images/arte_02.png' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'images/arte_03.png' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'images/arte_03.png' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'images/arte_04.png' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'images/arte_04.png' %}" alt=""> </div>
                            </li>
                            
                        </ul>
                    </div>
                    <!--Event Gallery End-->                            
                </div>
                <!--Blog Single Content End--> 
                </div>                     
            </div>
        </div>
    </div>
    </section>
    <!--Blog End--> 
{% endblock %}
