{% extends 'core/base.html' %}
{% load static %}
{% block title %}Escuela Viva | Chambalabamba{% endblock %}

{% block content %}
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header" style="background: url('{% static "images/escuela-header.png" %}') no-repeat center center; background-size: cover;">
    <div class="container">
        <h1>Escuela Viva</h1>
        <h3 style="color: white;">Aprendizajes para la vida</h3>
    </div>

    </section>
    <!--Inner Header End--> 
    <!--Escuela Start-->
    <section class="wf100 p80 blog">
    <div class="blog-details">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12">
                <!--Blog Single Content Start-->
                <div class="blog-single-content">
                    <div class="blog-single-thumb"><img src="{% static 'eventos/images/escuela_viva_01.jpg' %}" alt=""></div>
                    <div class="single-counter-box">
                        <ul>
                            <li class="col1"><strong>Inscripciones<br> Abiertas</strong></li>
                            <li class="col2">
                            <div class="countdown"></div>
                            </li>
                            <li class="col3"> <a href="#">Inscríbete Ahora</a> </li>
                        </ul>
                    </div>
                    <ul class="post-meta">
                        <li><i class="fas fa-user-circle"></i> Educadores de la Comunidad</li>
                        <li><i class="fas fa-calendar-alt"></i> Ciclos Continuos</li>
                        <li><i class="fas fa-comments"></i> Participa y Aprende</li>
                        <li class="tags"><i class="fas fa-tags"></i> <a href="#">Educación</a> <a href="#">Permacultura</a> <a href="#">Sostenibilidad</a> <a href="#">Comunidad</a></li>
                    </ul>
                    <p>La Escuela Viva de Chambalabamba es un espacio de aprendizaje dinámico y en constante evolución, donde niños, jóvenes y adultos tienen la oportunidad de conectar con saberes ancestrales y prácticas sostenibles. Nuestro enfoque pedagógico se basa en la experiencia directa, el respeto por los ciclos de la naturaleza y el fomento de la autonomía y el pensamiento crítico.</p>
                    <p>Ofrecemos talleres y cursos en áreas como la permacultura, la bioconstrucción, la agroecología, la salud natural y el desarrollo personal. Creemos en una educación que integra el cuerpo, la mente y el espíritu, preparando a las personas para ser agentes de cambio positivo en sus vidas y en el mundo.</p>
                    
                    <blockquote>
                        <p>Aprender haciendo, sentir pensando y vivir soñando. La educación es el camino hacia la libertad y la transformación.</p>
                    </blockquote>
                
                    <!--Event Gallery Start-->
                    <div class="event-gallery gallery wf100">
                        <h4>Momentos de Aprendizaje</h4>
                        <ul>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_01.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_01.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_02.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_02.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_03.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_03.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_04.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_04.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_05.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_05.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_06.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_06.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_07.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_07.jpg' %}" alt=""> </div>
                            </li>
                            <li>
                            <div class="gallery-img"> <a href="{% static 'eventos/images/escuela_galeria_08.jpg' %}" data-rel="prettyPhoto[gallery1]"><i class="fas fa-search"></i></a> <img src="{% static 'eventos/images/escuela_galeria_08.jpg' %}" alt=""> </div>
                            </li>
                        </ul>
                    </div>
                    <!--Event Gallery End-->                            
                </div>
                <!--Blog Single Content End--> 
                </div>                     
            </div>
        </div>
    </div>
    </section>
    <!--Escuela End--> 
{% endblock %}
