{% extends 'core/base.html' %}
{% load static %}
{% block title %}Festivales | Chambalabamba{% endblock %}

{% block content %}
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header" style="background-image: url({% static 'images/festivales.jpg' %});">
    <div class="container">
        <h1>Festivales</h1>
        <h3 style="color: white;">Celebrando la cultura y la comunidad</h3>   
    </div>
    </section>
    <!--Inner Header End--> 
    <!--Festivales Start-->
    <section class="wf100 p80 events">
    <div class="event-grid-2">
        <div class="container">
            <div class="row">
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_01.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Festival de la Cosecha</a></h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Cada Solsticio de Verano</li>
                            <li><strong>Hora:</strong> Todo el día</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Plaza Central, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_02.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Encuentro de Músicas del Mundo</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Equinoccio de Otoño</li>
                            <li><strong>Hora:</strong> 18:00 - 23:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Anfiteatro Natural, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_03.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Feria de Intercambio de Semillas</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Primer fin de semana de Primavera</li>
                            <li><strong>Hora:</strong> 10:00 - 17:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Mercado Comunitario, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End-->
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_04.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Festival de Arte y Permacultura</a></h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Segunda semana de Julio</li>
                            <li><strong>Hora:</strong> Todo el día</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Toda la comunidad, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_05.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Celebración del Día de la Tierra</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> 22 de Abril</li>
                            <li><strong>Hora:</strong> 12:00 - 20:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Bosque Comunitario, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/festival_06.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Festival de Cine Consciente</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Tercer fin de semana de Noviembre</li>
                            <li><strong>Hora:</strong> 19:00 - 22:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Maloka Audiovisual, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
            </div>
        </div>
    </div>
    </section>
    <!--Festivales End--> 
{% endblock %}
