{% extends 'core/base.html' %}
{% load static %}
{% block title %}Talleres | Chambalabamba{% endblock %}

{% block content %}
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header" style="background-image: url({% static 'images/talleres.jpg' %});">
    <div class="container">
        <h1>Talleres</h1>
        <h3 style="color: white;">Desarrollo personal y comunitario</h3>   
    </div>
    </section>
    <!--Inner Header End--> 
    <!--Talleres Start-->
    <section class="wf100 p80 events">
    <div class="event-grid-2">
        <div class="container">
            <div class="row">
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_01.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Bioconstrucción</a></h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Primer fin de semana de cada mes</li>
                            <li><strong>Hora:</strong> 09:00 - 17:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Zona de Construcción, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_02.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Huertos Orgánicos</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Segundos sábados del mes</li>
                            <li><strong>Hora:</strong> 10:00 - 14:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Huertos Comunitarios, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_03.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Cocina Saludable</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Terceros domingos del mes</li>
                            <li><strong>Hora:</strong> 11:00 - 15:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Cocina Comunitaria, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End-->
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_04.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Comunicación No Violenta</a></h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Cuarto fin de semana de cada mes</li>
                            <li><strong>Hora:</strong> 10:00 - 18:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Maloka de Reuniones, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_05.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Círculos de Palabra</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Todos los miércoles</li>
                            <li><strong>Hora:</strong> 19:00 - 21:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Fuego Sagrado, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'eventos/images/taller_06.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Taller de Elaboración de Productos Naturales</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Fecha:</strong> Un fin de semana por estación</li>
                            <li><strong>Hora:</strong> 10:00 - 18:00</li>
                        </ul>
                        <p class="venue"><span>Lugar:</span> Taller de Artesanías, Chambalabamba</p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
            </div>
        </div>
    </div>
    </section>
    <!--Talleres End--> 
{% endblock %}
