{% extends 'core/base.html' %}
{% load static %}
{% block title %}Talleres | Chambalabamba{% endblock %}

{% block content %}
    <!--Inner Header Start-->
    <section class="wf100 p100 inner-header">
    <div class="container">
        <h1>Talleres</h1>
        <h3 style="color: white;">Desarrollo personal y comunitario</h3>   
    </div>
    </section>
    <!--Inner Header End--> 
    <!--Talleres Start-->
    <section class="wf100 p80 events">
    <div class="event-grid-2">
        <div class="container">
            <div class="row">
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg1.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Awareness Campaign to Save & Planting Forest</a></h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg2.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Nunc ultricies mi et efficitur hendrerit</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg3.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Etiam dapibus arcu sed vulputate fringilla</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End-->
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg4.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Nam consectetur mi ac ornare venenatis</a></h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg5.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Etiam rhoncus lorem et arcu tristique lobortis</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg6.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Cras feugiat ante mattis odio lobortis cursus</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg7.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Nunc vehicula nisi quis fringilla consectetur</a></h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg8.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Etiam malesuada velit a laoreet porta</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
                <!--Blog Post Start-->
                <div class="col-lg-4 col-md-6">
                <div class="event-post">
                    <div class="event-thumb"> <a href="#"><i class="fas fa-link"></i></a> <img src="{% static 'images/event/eg9.jpg' %}" alt=""></div>
                    <div class="event-txt">
                        <h5><a href="#">Awareness Campaign to
                            Save & Planting Forest</a>
                        </h5>
                        <ul class="etime">
                            <li><strong>Date:</strong> 29 August, 2018</li>
                            <li><strong>Time:</strong> 09:30 am - 03:00 pm</li>
                        </ul>
                        <p class="venue"><span>Venue:</span> Green Center, New York, USA </p>
                    </div>
                </div>
                </div>
                <!--Blog Post End--> 
            </div>
            <div class="row">
                <div class="col-md-12">
                <div class="gt-pagination mt20">
                    <nav>
                        <ul class="pagination">
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Previous"> <i class="fas fa-angle-left"></i> </a> </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item active"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"> <a class="page-link" href="#" aria-label="Next"> <i class="fas fa-angle-right"></i> </a> </li>
                        </ul>
                    </nav>
                </div>
                </div>
            </div>
        </div>
    </div>
    </section>
    <!--Talleres End--> 
{% endblock %}
