

{% extends "natureweb/base.html" %}

{% load static %}


{% block content %}
  <!-- Body -->
  <body>

    <!-- Navigation bar (Page header) -->



    <!-- Page content -->
    <main class="content-wrapper">
      <section class="container pt-4 pb-5 mb-xxl-3">

        <!-- Breadcrumb -->

        <!-- Title + Post meta -->
        <h1 align="center">{{ post.titulo }}</h1>
        <div class="d-flex flex-wrap align-items-center gap-2 text-body-secondary pb-4 mb-3">
          <div class="position-relative nav flex-nowrap align-items-center">
            <div class="ratio ratio-1x1 flex-shrink-0 me-2" style="width: 24px">
              <img class="rounded-circle" src="{{post.imagen.url}}" alt="Avatar">
            </div>

            <a class="nav-link stretched-link p-0" href="#!">{{ post.autor.username }}</a>
          </div>
          <i class="fi-bullet mx-n1"></i>
          <div class="fs-sm me-2">{{post.created}}</div>
          <a class="badge text-secondary-emphasis bg-body-secondary text-uppercase text-decoration-none" href="#!">
            {% for categoria in post.categorias.all %}
                    {{ categoria.nombre }}{% if not forloop.last %}, {% endif %}
                {% endfor %}
          </a>
        </div>


        <!-- Main image -->
       <!-- Galería de imágenes del post -->
<div class="row g-3 mb-4">
  {% if post.imagen %}
    <div class="col-md-4">
      <img src="{{ post.imagen.url }}" class="img-fluid rounded" alt="Imagen 1" style="object-fit: cover; width: 100%; height: 220px;">
    </div>
  {% endif %}
  {% if post.imagen_2 %}
    <div class="col-md-4">
      <img src="{{ post.imagen_2.url }}" class="img-fluid rounded" alt="Imagen 2" style="object-fit: cover; width: 100%; height: 220px;">
    </div>
  {% endif %}
  {% if post.imagen_3 %}
    <div class="col-md-4">
      <img src="{{ post.imagen_3.url }}" class="img-fluid rounded" alt="Imagen 3" style="object-fit: cover; width: 100%; height: 220px;">
    </div>
  {% endif %}
</div>



        <!-- Post content + Sidebar -->
        <div class="row pt-4 pt-md-5 pb-2 pb-sm-3 pb-md-4 pb-lg-5 mt-3 mt-md-0 mt-lg-3">

          <!-- Post content -->
          <div class="col-lg-8">
          <p>{{ post.contenido|safe }}</p>

          </div>


          <!-- Sidebar that turns into offcanvas on screens < 992px wide (lg breakpoint) -->
          <aside class="col-lg-4 col-xl-3 offset-xl-1" style="margin-top: -105px">
            <div class="offcanvas-lg offcanvas-end sticky-lg-top ps-lg-4 ps-xl-0" id="blogSidebar">
              <div class="d-none d-lg-block" style="height: 105px"></div>
              <div class="offcanvas-header border-bottom py-3">
                <h3 class="h5 offcanvas-title">Sidebar</h3>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" data-bs-target="#blogSidebar" aria-label="Close"></button>
              </div>
              <div class="offcanvas-body d-block">
                <div class="vstack gap-3">
                  <div>
                    <div class="ratio ratio-1x1 bg-body-tertiary rounded-circle overflow-hidden mb-3" style="width: 56px">
                      <div class="ratio ratio-1x1 bg-body-tertiary rounded-circle overflow-hidden mb-3" style="width: 56px">
                        {{post.autor.perfilusuario.imagen}}
                        {% if post.autor.perfilusuario.imagen %}
                          <img src="{{ post.autor.perfilusuario.imagen.url }}" alt="Avatar" class="object-fit-cover w-100 h-100">
                        {% else %}
                          <img src="{% static 'images/default-avatar.jpg' %}" alt="Avatar por defecto" class="object-fit-cover w-100 h-100">
                        {% endif %}
                      </div>


                    </div>

                    <div class="d-flex align-items-center gap-2">
                      <span class="badge text-bg-info d-inline-flex align-items-center">
                        Verified
                        <i class="fi-shield ms-1"></i>
                      </span>
                      <div class="d-flex align-items-center gap-1">
                        <i class="fi-star-filled text-warning"></i>
                        <span class="fs-sm text-secondary-emphasis">4.9</span>
                        <span class="fs-sm text-body-secondary align-self-end">(248)</span>
                      </div>
                    </div>
                  </div>
                  <hr class="my-3">
                  <div>
                    <h4 class="h5 mb-4">Related articles</h4>
                    <div class="vstack gap-4">
                      {% for post in posts_relacionados %}

                      <article class="d-flex gap-3">
                        <div class="vstack gap-2">
                          <div class="position-relative nav flex-nowrap align-items-center mb-1">
                            <div class="ratio ratio-1x1 flex-shrink-0 me-2" style="width: 24px">
                              {% if post.autor.perfilusuario.imagen %}
                                  <img src="{{ post.autor.perfilusuario.imagen.url }}" class="w-100 h-100 object-fit-cover" alt="Avatar">
                                <p class="fs-sm text-muted mb-0">{{ post.autor.perfilusuario.descripcion|default:"Sin descripción disponible." }}</p>
                              {% else %}
                                <img class="rounded-circle" src="{% static 'ruta/a/imagen_por_defecto.jpg' %}" alt="Avatar">
                              {% endif %}
                            </div>
                            <a class="nav-link fs-xs fw-normal stretched-link p-0" href="#!">{{post.autor}}</a>
                          </div>
                          <h5 class="h6 fs-sm mb-0">
                            <a class="hover-effect-underline" href="{% url 'detalle_post' post.id %}">{{post.titulo}}</a>
                          </h5>
                        </div>
                        <a class="ratio ratio-1x1 d-flex hover-effect-scale rounded-2 overflow-hidden" href="#!" style="max-width: 80px">
                          <img src="{{post.imagen.url}}" class="hover-effect-target" alt="Image">
                        </a>
                      </article>
                      {% endfor %}
                    </div>
                  </div>
                  <hr class="my-3">
                  <div class="d-flex align-items-center justify-content-between">
                    <h4 class="h6 fs-sm mb-0 me-2">Share this post</h4>
                    <div class="d-flex gap-2">
                      <a class="btn btn-icon fs-base btn-secondary" href="#!" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" title="Share on Instagram" aria-label="Share on Instagram">
                        <i class="fi-instagram"></i>
                      </a>
                      <a class="btn btn-icon fs-base btn-secondary" href="#!" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" title="Share on Facebook" aria-label="Share on Facebook">
                        <i class="fi-facebook"></i>
                      </a>
                      <a class="btn btn-icon fs-base btn-secondary" href="#!" data-bs-toggle="tooltip" data-bs-custom-class="tooltip-sm" title="Copy link" aria-label="Copy a link">
                        <i class="fi-link"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </aside>
        </div>


        <!-- Relevant blog posts (carousel) -->
        <div class="pt-5">

          <!-- Heading + Prev/next buttons -->
          <div class="d-flex align-items-center justify-content-between pb-3 mb-2 mb-sm-3">
            <h2 class="h3 mb-0 me-2">Also read</h2>
            <div class="d-flex gap-2">
              <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-start rounded-circle me-1" id="prev" aria-label="Prev">
                <i class="fi-chevron-left fs-lg animate-target"></i>
              </button>
              <button type="button" class="btn btn-icon btn-outline-secondary animate-slide-end rounded-circle" id="next" aria-label="Next">
                <i class="fi-chevron-right fs-lg animate-target"></i>
              </button>
            </div>
          </div>

          <!-- Carousel -->
          <div class="swiper pb-2 pb-md-3 pb-lg-4 pb-xl-5" data-swiper='{
            "slidesPerView": 1,
            "spaceBetween": 24,
            "loop": true,
            "navigation": {
              "prevEl": "#prev",
              "nextEl": "#next"
            },
            "breakpoints": {
              "500": {
                "slidesPerView": 2
              },
              "900": {
                "slidesPerView": 3
              }
            }
          }'>
            <div class="swiper-wrapper">

              <!-- Article -->
              {% for post in posts_relacionados %}
              <article class="swiper-slide">
                <a class="ratio d-flex hover-effect-scale rounded overflow-hidden mb-3 mb-sm-4" href="#!" style="--fn-aspect-ratio: calc(276 / 416 * 100%)">
                  <img src="{{post.imagen.url}}" class="hover-effect-target" alt="Image">
                </a>
                <div class="d-flex align-items-center gap-1 text-body-secondary pt-1 pt-sm-0 mb-3">
                  <div class="position-relative nav flex-nowrap align-items-center">
                    <div class="ratio ratio-1x1 flex-shrink-0 me-2" style="width: 24px">
                     {% if post.autor.perfilusuario.imagen %}
                      <img class="rounded-circle" src="{{ post.autor.perfilusuario.imagen.url }}" alt="Avatar">
                    {% else %}
                      <img class="rounded-circle" src="{% static 'ruta/a/imagen_por_defecto.jpg' %}" alt="Avatar">
                    {% endif %}
                    </div>
                    <a class="nav-link stretched-link p-0" href="#!">{{post.autor}}</a>
                  </div>
                  <i class="fi-bullet"></i>
                  <div class="fs-sm">{{post.created}}</div>
                </div>
                <h3 class="h5">
                  <a class="hover-effect-underline" href="{% url 'detalle_post' post.id %}">{{post.titulo}}</a>
                </h3>
               <div class="d-flex flex-wrap gap-1">
                {% for categoria in post.categorias.all %}
                  <a href="{% url 'Categoria' categoria.id %}" class="badge text-secondary-emphasis bg-body-secondary text-uppercase text-decoration-none">
                    {{ categoria.nombre }}
                  </a>
                {% endfor %}
              </div>
              </article>
              {%endfor%}


            </div>
          </div>
        </div>
      </section>

    </main>

    <!-- Blog sidebar offcanvas toggle that is visible on screens < 992px wide (lg breakpoint) -->
    <button type="button" class="fixed-bottom z-sticky w-100 btn btn-lg btn-dark border-0 border-top border-light border-opacity-10 rounded-0 pb-4 d-lg-none" data-bs-toggle="offcanvas" data-bs-target="#blogSidebar" aria-controls="blogSidebar" data-bs-theme="light">
      <i class="fi-sidebar fs-base me-2"></i>
      Sidebar
    </button>


    <!-- Back to top button -->
    <div class="floating-buttons position-fixed top-50 end-0 z-sticky me-3 me-xl-4 pb-4">
      <a class="btn-scroll-top btn btn-sm bg-body border-0 rounded-pill shadow animate-slide-end" href="#top">
        Top
        <i class="fi-arrow-right fs-base ms-1 me-n1 animate-target"></i>
        <span class="position-absolute top-0 start-0 w-100 h-100 border rounded-pill z-0"></span>
        <svg class="position-absolute top-0 start-0 w-100 h-100 z-1" viewBox="0 0 62 32" fill="none" xmlns="http://www.w3.org/2000/svg">
          <rect x=".75" y=".75" width="60.5" height="30.5" rx="15.25" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10"/>
        </svg>
      </a>
    </div>


    <!-- Vendor scripts -->
    <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="assets/vendor/glightbox/dist/js/glightbox.min.js"></script>

    <!-- Bootstrap + Theme scripts -->
    <script src="assets/js/theme.min.js"></script>
  </body>
{% endblock %}