{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'images/logo/logo.jpeg' %}">
    <title>{% block title %}Chambalabamba{% endblock %}</title>

    <!-- JAVA SCRIPT FILES START -->
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <!-- jQuery migrate (opcional si algún plugin lo necesita) -->
    <script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>

    <!--
    <script src="js/popper.min.js"></script>
      <script src="js/bootstrap.min.js"></script>
      <script src="js/owl.carousel.min.js"></script>
      -->
    <!-- prettyPhoto -->
    <script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
    <!--
    <script src="js/slick.min.js"></script>
     <script src="js/custom.js"></script>
-->


    <!-- CSS FILES START -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}?v=3">
    <link href="{% static 'css/color.css' %}" rel="stylesheet">
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet">
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet">
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/slick.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'contacto/css/style.css' %}">


    <!-- CSS FILES END -->
</head>
