{% load static %}
<header class="header-style-2 header-chambala">
    <nav class="navbar navbar-expand-lg">
        <!-- Menú izquierdo -->
        <ul class="navbar-nav d-none d-lg-flex flex-row mr-auto">
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'inicio:home' %}">Inicio</a>
            </li>
            <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Filosofía e Historia</a></li>
                    <li><a href="#">En Qué Creemos</a></li>
                    <li><a href="#">Gobernanza y Economía</a></li>
                    <li><a href="#">Territorio (Reserva Natural)</a></li>
                    <li><a href="#">Ecología y Agroforesta</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Aprendizajes</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Escuela para Niñ@s</a></li>
                    <li><a href="#">Talleres</a></li>
                    <li><a href="#">Retiros</a></li>
                    <li><a href="#">Arte</a></li>
                    <li><a href="#">Terapias</a></li>
                    <li><a href="#">Prácticas y Exploraciones</a></li>
                </ul>
            </li>
        </ul>

        <!-- Logo centrado -->
        <a class="navbar-brand mx-auto d-lg-block d-none" href="{% url 'inicio:home' %}">
            <img src="{% static 'images/h2logo.png' %}" alt="Logo" class="logo-chambala">
        </a>

        <!-- Menú derecho -->
        <ul class="navbar-nav d-none d-lg-flex flex-row ml-auto">
            <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Eventos</a>
                <ul class="dropdown-menu">
                    <li><a href="/eventos/ecstatic-dance/">Ecstatic Dance</a></li>
                    <li><a href="/eventos/vacaciones-explorativas/">Vacaciones Explorativas</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Experiencia</a>
                <ul class="dropdown-menu">
                    <li><a href="/experiencia/voluntariado/">Voluntariado</a></li>
                    <li><a href="/experiencia/visitas-guiadas/">Visitas Guiadas</a></li>
                    <li><a href="/experiencia/estancias/">Estancias</a></li>
                    <li><a href="/experiencia/tienda/">Tienda</a></li>
                    <li><a href="/experiencia/donaciones/">Donaciones</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown px-2">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">Anuncios</a>
                <ul class="dropdown-menu">
                    <li><a href="/anuncios/reflexiones/">Reflexiones</a></li>
                    <li><a href="/anuncios/comunicados/">Comunicados</a></li>
                </ul>
            </li>
            <li class="nav-item px-2">
                <a class="nav-link" href="{% url 'contacto:index' %}">Contacto</a>
            </li>
        </ul>

        <!-- Botón móvil -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMobile">
            <i class="fas fa-bars"></i>
        </button>
    </nav>

    <!-- Menú móvil -->
    <div class="collapse navbar-collapse" id="navbarMobile">
        <ul class="navbar-nav text-center">
            <li class="nav-item"><a class="nav-link" href="{% url 'inicio:home' %}">Inicio</a></li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Nosotros</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Filosofía e Historia</a></li>
                    <li><a href="#">En Qué Creemos</a></li>
                    <li><a href="#">Gobernanza y Economía</a></li>
                    <li><a href="#">Territorio</a></li>
                    <li><a href="#">Ecología</a></li>
                </ul>
            </li>
            <li class="nav-item dropdown"><a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Aprendizajes</a>
                <ul class="dropdown-menu">
                    <li><a href="#">Escuela</a></li>
                    <li><a href="#">Talleres</a></li>
                    <li><a href="#">Retiros</a></li>
                    <li><a href="#">Arte</a></li>
                    <li><a href="#">Terapias</a></li>
                    <li><a href="#">Exploraciones</a></li>
                </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="/eventos/">Eventos</a></li>
            <li class="nav-item"><a class="nav-link" href="/experiencia/">Experiencia</a></li>
            <li class="nav-item"><a class="nav-link" href="/anuncios/">Anuncios</a></li>
            <li class="nav-item"><a class="nav-link" href="#contacto">Contacto</a></li>
        </ul>
    </div>
</header>
<div id="search">
    <button type="button" class="close">×</button>
    <form class="search-overlay-form">
        <input type="search" value="" placeholder="type keyword(s) here"/>
        <button type="submit" class="btn btn-primary"><i class="fas fa-search"></i></button>
    </form>
</div>
