{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>
    <meta content="" name="description"/>
    <meta content="" name="author"/>
    <title>ECO HTML</title>
    <!-- Favicon -->
    <link href="{% static 'images/favicon.png' %}" rel="icon"/>
    <!-- CSS FILES START -->
    <link href="{% static 'css/color.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/responsive.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/owl.carousel.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/prettyPhoto.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/all.min.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/slick.css' %}" rel="stylesheet"/>
    <link href="{% static 'css/custom.css' %}" rel="stylesheet"/>
    <!-- CSS FILES END -->
</head>
<body>
<header class="header-style-2">
    <nav class="navbar navbar-expand-lg">
        <a class="navbar-brand" href="index.html"><img alt="Logo" src="{% static 'images/logo.png' %}"/></a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><i
                class="fas fa-bars"></i></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item dropdown">
                    <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle"
                       data-toggle="dropdown" href="index.html" role="button"> Home </a>
                    <ul class="dropdown-menu">
                        <li><a href="index.html">Home One</a></li>
                        <li><a href="home-two.html">Home Two</a></li>
                        <li><a href="home-three.html">Home Three</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        NOSOTROS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#filosofia">Filosofía e Historia</a></li>
                        <li><a class="dropdown-item" href="#creencias">En Qué Creemos</a></li>
                        <li><a class="dropdown-item" href="#gobernanza">Gobernanza y Economía</a></li>
                        <li><a class="dropdown-item" href="#territorio">Territorio (Reserva Natural)</a></li>
                        <li><a class="dropdown-item" href="#ecologia">Ecología y Agroforesta</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        APRENDIZAJES PARA LA VIDA.
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#escuela">Escuela para Niñ@s</a></li>
                        <li><a class="dropdown-item" href="#talleres">Talleres</a></li>
                        <li><a class="dropdown-item" href="#retiros">Retiros</a></li>
                        <li><a class="dropdown-item" href="#arte">Arte</a></li>
                        <li><a class="dropdown-item" href="#terapias">Terapias</a></li>
                        <li><a class="dropdown-item" href="#exploraciones">Prácticas y Exploraciones</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        EVENTOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#ecstatic">Ecstatic Dance</a></li>
                        <li><a class="dropdown-item" href="#vacaciones">Vacaciones Explorativas</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        VIVE LA EXPERIENCIA
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#voluntariado">Voluntariado</a></li>
                        <li><a class="dropdown-item" href="#visitas">Visitas Guiadas</a></li>
                        <li><a class="dropdown-item" href="#estancias">Estancias</a></li>
                        <li><a class="dropdown-item" href="#tienda">Tienda</a></li>
                        <li><a class="dropdown-item" href="#donaciones">Donaciones</a></li>
                    </ul>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        ANUNCIOS
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#reflexiones">Reflexiones</a></li>
                        <li><a class="dropdown-item" href="#comunicados">Comunicados</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="#contacto">CONTACTO</a>
                </li>

            </ul>
            <ul class="topnav-right">
                <li><a class="mdonate" href="donation.html"><span>Make a Donation</span></a></li>
                <li><a class="search-icon" href="#search"> <i class="fas fa-search"></i> </a></li>
                <li class="dropdown">
                    <a class="cart-icon" data-toggle="dropdown" href="#" id="cartdropdown" role="button"> <i
                            class="fas fa-shopping-cart"></i></a>
                    <div aria-labelledby="cartdropdown" class="dropdown-menu cart-box">
                        Recently added item(s)
                        <ul class="list">
                            <li class="item">
                                <a class="preview-image" href="#"><img alt="" class="preview"
                                                                       src="{% static 'images/pro.jpg' %}"/></a>
                                <div class="description"><a href="#">Sample Course</a> <strong class="price">1 x
                                    $44.95</strong></div>
                            </li>
                            <li class="item">
                                <a class="preview-image" href="#"><img alt="" class="preview"
                                                                       src="{% static 'images/pro.jpg' %}"/></a>
                                <div class="description"><a href="#">Sample Course</a> <strong class="price">1 x
                                    $44.95</strong></div>
                            </li>
                        </ul>
                        <div class="total">Total: <strong>$44.95</strong></div>
                        <div class="view-link"><a href="#">Proceed to Checkout</a> <a href="#">View cart </a></div>
                    </div>
                </li>
                <li class="login-reg"><a href="my-account.html">Login</a> | <a href="my-account.html">Signup</a></li>
            </ul>
        </div>
    </nav>
</header>
