{% load static %}

<!-- jQuery y dependencias -->
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/jquery-migrate-1.4.1.min.js' %}"></script>

<!-- Bootstrap -->
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>

<!-- Plugins visuales -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/jquery.prettyPhoto.js' %}"></script>
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>

<!-- Navegación (si los usas en HTML) -->
{# <script src="{% static 'js/jquery.nav.js' %}"></script> #}
{# <script src="{% static 'js/scrolling-nav.js' %}"></script> #}
{# <script src="{% static 'js/jquery.easing.min.js' %}"></script> #}

<!-- Personalizado -->
<script src="{% static 'js/custom.js' %}"></script>
