{% extends 'core/base.html' %}
{% load static %}

{% block content %}
<style>
    .loader {
        border: 16px solid #f3f3f3;
        border-radius: 50%;
        border-top: 16px solid #3498db;
        width: 120px;
        height: 120px;
        -webkit-animation: spin 2s linear infinite; /* Safari */
        animation: spin 2s linear infinite;
        margin: 50px auto;
    }

    /* Safari */
    @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
    }

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
</style>

<div class="container text-center py-5">
    <div class="loader"></div>
    <h2 class="h4">{{ section.paypal_redirect_message|default:"Redirigiendo a PayPal para completar tu donación..." }}</h2>
    <p class="text-muted">Por favor, espera un momento.</p>
    <div style="display:none;">
        {{ form.render }}
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        // Automatically submit the form to redirect to PayPal
        document.forms[0].submit();
    });
</script>
{% endblock %}
