.error {
  border: 1px solid red !important;
}

.contact-form-container {
  padding-top: 20px;
}

.contact-page {
  padding-top: 20px;
  padding-bottom: 80px;
}

.col-md-6 {
  padding-top: 20px;
}

.inner-header-contacto {
  background-image: url("../images/inner-header-contacto.png");
  background-size: cover;
  background-position: center;
  color: white;
  text-align: left;
}

.inner-header-contacto h1,
.inner-header-contacto h2 {
  color: white; 
}

